body {
  font-family: "Lato", sans-serif;
  padding: 3rem;
  font-weight: 400;
  color: $color-dark-gray;
  line-height: 1.7;
}

.heading__primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  transition: all 200ms;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );

  //Adding background-clip and color. First will make sure that the linear gradiant only covers the textual content
  //Color: Transparent will make sure that linear gradiant is visible
  background-clip: text;
  color: transparent;

  &:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
